<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>
<form action="/submit" method="post">
    <input type="submit" value="Query">
</form>


<table style="width:50%">
    <caption>Stocks</caption>

    <tr>
        <th>Date & Closed Price </th>
    </tr>
    {% for item in query %}
    <tr>
        <td> {{query}} </td>
    </tr>
    {% endfor %}
</table>

<br>


<form action="/clear" method="post">
    <input type="submit" value="Clear">
</form>

</body>
</html>